.Home {
  background-color: #ffffff;
}
.homesvg {
  z-index: -1;
}

.Pragraph-Container {
  margin-left: 30%;
  margin-top: 25%;
}

.paragraphSvg{
  z-index: -1;
  margin-left: -50px;
}
.Paragrph-Title {
  font-size: small;
  color: #e23434;
  font-weight: 700;
  margin-left: -30px;
}
.Paragraph-Head {
  color: #857885;
  font-weight: 700;
  margin-top: -30px;
}
.Paragaph {
  color: #857885;
  font-weight: 600;
}
.Cards-Component {
  margin-top: 130px;
}
.LearnMore {
    color: #5c0e62;
    font-weight: 700;
  }
  
@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}
