.sub-col {
  position: relative;
  margin-left: -11%;
}

.personal-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .Personal-Sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .personal-images {
    width: 100%;
  }

  .personal-images div {
    width: 30%;
  }

  .personal-images img {
    width: 100%;
  }

  .personal-images .firstperson {
    width: 38%;
    margin-right: -30px;
  }
  .middle-photos {
    margin-left: -10%;
  }

  .last-photos {
    margin-left: -12%;
  }
}
