.Paragraaph {
  padding-inline: 25%;
  padding-block: 150px;
}

.Customers-Section {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(99.22deg, #5c0e62 1.27%, #00b5d0 92.23%);
  z-index: 0;
}

.main {
  display: flex;
}

.left,
.customers {
  flex: 1;
}

.customers img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
}

.customer {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.customer-info {
  width: 255px;
  margin: 0 auto;
}

.customers .customer-description {
  padding-top: 10px;
  text-align: center;
  color: white;
}
.customer-title {
  color: #ffbc51;
}

.one {
  margin-top: -10px;
  margin-left: -130px;
}

.two {
  top: 100px;
  right: 150px;
}

.three {
  top: 300px;
  right: 250px;
}

.four {
  top: 550px;
  right: 100px;
}

.five {
  top: 550px;
  right: 425px;
}

.two img,
.three img,
.four img,
.five img {
  position: absolute;
}

.two .customer-info,
.three .customer-info,
.four .customer-info,
.five .customer-info {
  display: none;
  position: absolute;
  right: 0px;
}

.two:hover .customer-info,
.three:hover .customer-info,
.four:hover .customer-info,
.five:hover .customer-info {
  display: block;
}
.two:hover img,
.three:hover img,
.four:hover img,
.five:hover img {
  width: 100px;
  height: 100px;
}
.responsive-slider {
  display: none;
}
@media (max-width: 768px) {
  .main {
    display: none;
  }

  .triangel-svg {
    display: none;
  }
  .responsive-slider {
    display: block;
    padding: 20px;
    background: linear-gradient(99.22deg, #5c0e62 1.27%, #00b5d0 92.23%);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .carousel-item img {
    width: 126px;
    height: 126px;
  }
  .customer-title h5 {
    margin: 0px;
  }
}
