.WaveBanner
{
position: absolute;
width: 100%;
height: 500px;
background: linear-gradient(99.22deg, #5C0E62 1.27%, #00B5D0 92.23%);
}
.StartButton
{
box-sizing: border-box;
width: 200px;
height: 50px;
left: 168px;
top: 471px;
background: #798AC9;
border: 1px solid rgba(171, 163, 163, 0.2);
border-radius: 4px;
}
.headerimagecontainer {
    position:sticky;
    width: 100%;
    height: auto;
    z-index: 3;
  }
  
  .headerimg{
    position: absolute;
    top: 0;
    left: 50px;
    width: 80%;
    height: 100%;

  }
  .headersvg{
    position: absolute;
    left: 0;
    bottom: 0;
    }
    .WaveBanner {
      position: relative;
      width: 100%;
      height: auto;
      background: linear-gradient(99.22deg, #5C0E62 1.27%, #00B5D0 92.23%);
    }
    
    .header {
      position: relative;
      padding: 50px;
    }
    
    .header-text {
      text-align: center;
      margin-bottom: 50px;
    }
    
    .StartButton {
      box-sizing: border-box;
      width: 200px;
      height: 50px;
      background: #798AC9;
      border: 1px solid rgba(171, 163, 163, 0.2);
      border-radius: 4px;
    }
    
    .headerimagecontainer {
      position: relative;
      width: 100%;
      height: 500px;
    }
    
    .headerimg {
      position: absolute;
      top: 0;
      left: 50px;
      width: 80%;
      height: 100%;
    }
    
    .headersvg {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .headericon{
      display: none;
    }
    @media (max-width: 768px) {
      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
      }
    
      .header-text {
        margin-right: 50px;
        margin-bottom: 0;
      
      }
    .headerimagecontainer
    {
      margin-bottom: -500px;
      height: 100px;
    }
      .headerimg {
        position: absolute;
        width: 50%;
        height: auto;
      }
      .headersvg{
        display: none;
      }
      .StartButton{
        color: #ffffff;
        margin-block: 5%;
      }
      .headericon{display: flex;
    }
  }