.footer {
  background-color: #210933;
  color: #857885;
  padding: 50px 0;
}
.BeforeFooter {
  position: relative;
  margin: -90px auto 50px;
  align-items: center;
  width: 800px;
  border-radius: 4px;
  background-color: #fff;
  height: 100px;
  display: flex;
  justify-content: space-around;
  z-index: 4;
}
.BeforeFooter h3 {
  font-size: 30px;
  color: #5c515c;
}

.Footer-container {
  margin-inline: 10%;
}
.footer h2 {
  margin-bottom: 20px;
  color: #fff;
}
.footer h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.footer-ele {
  font-size: 14px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-ele li {
  margin-bottom: 10px;
}

.footer p.text-center {
  margin-top: 20px;
}
.footer-icons {
  font-size: 35px;
  display: flex;
  width: 100%;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .Footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-icons {
    display: none;
  }
  .BeforeFooter {
    display: none;
  }
}
